*{
  padding: 0;
  margin: 0;
}
nav{
  display: flex;
  background-color: #000;
  color: #fff;

}

nav > a{
  padding: 10px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
}

nav > a:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

#HomepageContainer{
  background-color: #79F6DD;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 10px;
}

/** Challenge 1 styles **/
#challenge1Container{
  margin: 50px;
  width: 250px;
  height: auto;
  border: 2px solid #000;
}