*{
  padding: 0;
  margin: 0;
}
nav{
  display: flex;
  background-color: #000;
  color: #fff;

}

nav > a{
  padding: 10px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
}

nav > a:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

#HomepageContainer{
  background-color: #79F6DD;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 10px;
}

/** Challenge 1 styles **/
#challenge1Container{
  margin: 50px;
  width: 250px;
  height: auto;
  border: 2px solid #000;
}

/* profilePhoto  */
img.profilePhoto{
  width: 100%;
  height: 200px;
  background-position: center;
}

/* Info style */
div.infoStyle{
  padding: 7px;
}
div.infoStyle > p{
  margin: 5px 0;
}

/* Skill Style */
div.skillStyle{
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill{
  border-radius: 10px;
  padding: 5px;
  color: #000;
}

/* challenge 2 style */
#challenge2Container{
  background-color: #DFFDFF;
  max-width: 800px;
  margin: 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counters{
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.counters > button{
  padding: 5px;
  cursor: pointer;
}

#challenge2Msg{
  margin: 10px 0;
}
